
<!-- para heredar de la plantilla base de html-->
{% extends 'index.html' %}
<!-- Esto de abajo es para poder operar o leer con ficheros de la carpeta de static, creo que lo qye hace es cargar la carpeta-->
{% load static %}
<!--  se pone para indicar el principio del body que se va a insertar en la plantilla base-->
{% block content %}
<h1>aaaaaaaaaa</h1>
    <p>

        {{  coches_detail  }}

    </p>


<!--para indicar el final-->
{% endblock %}
