
<!-- para heredar de la plantilla base de html-->
{% extends 'index.html' %}
<!-- Esto de abajo es para poder operar o leer con ficheros de la carpeta de static, creo que lo qye hace es cargar la carpeta-->
{% load static %}
<!--  se pone para indicar el principio del body que se va a insertar en la plantilla base-->
{% block content %}



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron/">

    <title>Concesionario de Alberto</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido al concesionario de Alberto!</h1>
        <p>Es una practica cuyo fin es aprender a manejarme en Django para el proyecto de Dapda.</p>
        <p><img src="{% static 'images/concesionario.jpeg' %}"/></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Coches</h2>
          <p>Aqui puedes ver un listado de coches de los que dispone nuestra pagina web, hay muchos muy interesantes que se pueden adaptar a las necesidades de cada consumidor. </p>
          <p><a class="btn btn-default" href="http://127.0.0.1:8000/cars/" role="button">Informacion Coches »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Administrador</h2>
          <p> Aqui si eres super usuario puedes modificar toda la informacion de tu BBDD sin necesidad de trabajar con ella en el apartado de Pycharm. </p>
          <p><a class="btn btn-default" href="http://127.0.0.1:8000/admin/" role="button">Configuracion BBDD »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Desactivado</h2>
          <p>Apartado desactivado</p>
          <p><a class="btn btn-default" href="#" role="button" disabled="true">Desactivado »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2021 Alberto SL, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>



    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<div >
    <h1>BIENVENIDO A LA PAGINA DE NUESTRO CONCESIONARIO</h1>
    <h2>Aqui encontraras multitud de coches que se adecuen a sus necesidades</h2>


<img src="{% static 'images/concesionario.jpeg' %}"/>
</div>
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--para indicar el final-->
{% endblock %}







