
<!-- Esto de abajo es para poder operar o leer con ficheros de la carpeta de static, creo que lo qye hace es cargar la carpeta-->
{% load static %}


<html>
<head>

<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet"/>
</head>
<body>

<!-- preguntar a miguel pq no se me esconde la navbar en el login-->
{% if request.user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/cars/">Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/accounts/login/">Login</a>
            </li>
              <li class="nav-item">
                  <!-- lo que hay en el href es para hacer la accion de logout lo provee Django-->
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{% endif %}
<!-- Esto de aqui abajo se pone para que este html sea tomado como una plantilla base para el resto de nuestros html de las apps que iremos creando.
 La primera linea se pone para indicar el principio del body
 La segunda para indicar el final-->
{% block content %}
{% endblock %}

</body>
</html>